.category {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.category img {
    width: 100px;
    height: 100px;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
